NCStateSchema.xsd

<?xml version="1.0" encoding="utf-8"?>

<!-- Format for an NC state backup file.  
     Resulting XML file should be given a .NCSX extension in order to be recognized by WinMax -->

<xs:schema id="NCStateSchema"
           targetNamespace="urn:NCStateSchema"
           elementFormDefault="qualified"
           xmlns="urn:NCStateSchema"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">


  <xs:element name="Hurco_Document">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FileInfo"  minOccurs="0" type="xs:anyType"/>
		
<!-- The part setup object in an NC state file primarily contains legacy information that is no longer necessary.
     The element must exist, but can be left empty. The relevant part zero data is imported from the WorkOffsets element. -->
	  
        <xs:element name="PartSetup" minOccurs="1" type="PartSetup"/>
		
		<xs:element name="ToolData" minOccurs="1" type="ToolData"/>
		
<!-- The program parameters object in an NC state file primarily contains parameters that are only relevant 
     when running conversational programs.  Recommendation is to leave this section blank and exclude it when importing the file. -->
		<xs:element name="ParametersInfo" minOccurs="1" type="ParametersInfo"/>
		
		<xs:element name="NCParameters" minOccurs="1" type="NCParameters"/>
		<xs:element name="WorkOffsets" minOccurs="1" type="WorkOffsets"/>
		<xs:element name="ToolOffsets" minOccurs="1" type="ToolOffsets"/>
		<xs:element name="NCProgramVariables" minOccurs="1" type="NCProgramVariables"/>
    		<xs:element name="NCVariableMappings" minOccurs="0" type="NCVariableMappings"/>
		<xs:element name="NCSettings" minOccurs="0" type="NCSettings"/>
      </xs:sequence>
      <xs:attribute name="Version" type="xs:string" fixed="1.1" use="required"/>
    </xs:complexType>
  </xs:element>


 <!-- Refer to ToolSchema.xsd for the format of <xs:complexType name="Tool"> -->
  <xs:complexType name="ToolData">
    <xs:sequence>
      <xs:element name="Tool" type="Tool" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="NCParameters">
    <xs:any>
	
     <xs:element name="EnableUserMCodes" type="restrictedbool" minOccurs="0"/>
	 <xs:element name="EnableUserGCodes" type="restrictedbool" minOccurs="0"/>
	 <xs:element name="EnableUserSCodes" type="restrictedbool" minOccurs="0"/>  <!-- maps S-code to subprogram 9029 -->
	 <xs:element name="EnableUserBCodes" type="restrictedbool" minOccurs="0"/>  <!-- maps B-code to subprogram 9028 -->
	 <xs:element name="EnableUserTCodes" type="restrictedbool" minOccurs="0"/>  <!-- maps T-code to subprogram 9000 -->
	 
	 <!-- up to 13 user-defined M code subprograms allowed -->
	 <xs:element name="UserMCode_0" type="xs:unsignedShort" minOccurs="0"/>  <!-- maps M-code to subprogram 9001 -->
	 <xs:element name="UserMCode_1" type="xs:unsignedShort" minOccurs="0"/>  <!-- maps M-code to subprogram 9002 -->
	 <xs:element name="UserMCode_2" type="xs:unsignedShort" minOccurs="0"/>  <!-- maps M-code to subprogram 9003 -->
	 <xs:element name="UserMCode_3" type="xs:unsignedShort" minOccurs="0"/>  <!-- maps M-code to subprogram 9020 -->
	 <xs:element name="UserMCode_4" type="xs:unsignedShort" minOccurs="0"/>  <!-- maps M-code to subprogram 9021 -->
	 <xs:element name="UserMCode_5" type="xs:unsignedShort" minOccurs="0"/>  <!-- maps M-code to subprogram 9022 -->
	 <xs:element name="UserMCode_6" type="xs:unsignedShort" minOccurs="0"/>  <!-- maps M-code to subprogram 9023 -->
	 <xs:element name="UserMCode_7" type="xs:unsignedShort" minOccurs="0"/>  <!-- maps M-code to subprogram 9024 -->
	 <xs:element name="UserMCode_8" type="xs:unsignedShort" minOccurs="0"/>  <!-- maps M-code to subprogram 9025 -->
	 <xs:element name="UserMCode_9" type="xs:unsignedShort" minOccurs="0"/>  <!-- maps M-code to subprogram 9026 -->
	 <xs:element name="UserMCode_10" type="xs:unsignedShort" minOccurs="0"/> <!-- maps M-code to subprogram 9027 -->
	 <xs:element name="UserMCode_11" type="xs:unsignedShort" minOccurs="0"/> <!-- maps M-code to subprogram 9028 -->
	 <xs:element name="UserMCode_12" type="xs:unsignedShort" minOccurs="0"/> <!-- maps M-code to subprogram 9029 -->
	 
	  <!-- up to 10 user-defined G code subprograms allowed -->
	 <xs:element name="UserGCode_0" type="xs:unsignedShort" minOccurs="0"/>  <!-- maps G-code to subprogram 9010 -->
	 <xs:element name="UserGCode_1" type="xs:unsignedShort" minOccurs="0"/>  <!-- maps G-code to subprogram 9011 -->
	 <xs:element name="UserGCode_2" type="xs:unsignedShort" minOccurs="0"/>  <!-- maps G-code to subprogram 9012 -->
	 <xs:element name="UserGCode_3" type="xs:unsignedShort" minOccurs="0"/>  <!-- maps G-code to subprogram 9013 -->
	 <xs:element name="UserGCode_4" type="xs:unsignedShort" minOccurs="0"/>  <!-- maps G-code to subprogram 9014 -->
	 <xs:element name="UserGCode_5" type="xs:unsignedShort" minOccurs="0"/>  <!-- maps G-code to subprogram 9015 -->
	 <xs:element name="UserGCode_6" type="xs:unsignedShort" minOccurs="0"/>  <!-- maps G-code to subprogram 9016 -->
	 <xs:element name="UserGCode_7" type="xs:unsignedShort" minOccurs="0"/>  <!-- maps G-code to subprogram 9017 -->
	 <xs:element name="UserGCode_8" type="xs:unsignedShort" minOccurs="0"/>  <!-- maps G-code to subprogram 9018 -->
	 <xs:element name="UserGCode_9" type="xs:unsignedShort" minOccurs="0"/>  <!-- maps G-code to subprogram 9019 -->
	 
	 
	 <xs:element name="LeastDwellUnits" type="restrictedbool" minOccurs="0"/>  <!-- 0 = 0.001mm, 1 = 0.0001mm -->
	 <xs:element name="LeastScalingFactor" type="restrictedbool" minOccurs="0"/>  <!-- 0 = 0.001mm, 1 = 0.00001mm -->
	 <xs:element name="DisableXScale" type="restrictedbool" minOccurs="0"/>
	 <xs:element name="DisableYScale" type="restrictedbool" minOccurs="0"/>
	 <xs:element name="DisableZScale" type="restrictedbool" minOccurs="0"/>
	 <xs:element name="RefPointX" type="xs:double" minOccurs="0"/>
	 <xs:element name="RefPointY" type="xs:double" minOccurs="0"/>
	 <xs:element name="RefPointZ" type="xs:double" minOccurs="0"/>
	 <xs:element name="ToolLengthTolerance" type="xs:double" minOccurs="0"/>
	 <xs:element name="UseM6ForToolChange" type="restrictedbool" minOccurs="0" default = "1"/>
	 <xs:element name="AllowVacantVariables" type="restrictedbool" minOccurs="0"/>
	 <xs:element name="AssumeFeedrateDecimal" type="restrictedbool" minOccurs="0"/>
	 <xs:element name="DefaultToolInSpindle" type="xs:unsignedShort" minOccurs="0" minInclusive="0" maxInclusive="9999"/>
	 <xs:element name="EnableCutterCompLeadInCalculations" type="restrictedbool" minOccurs="0" default = "1"/>
	 <xs:element name="EnableCutterCompLeadOutCalculations" type="restrictedbool" minOccurs="0"/>
	 <xs:element name="EnableCutterCompReversalErrorChecking" type="restrictedbool" minOccurs="0" default = "1"/>
	 <xs:element name="EnableASRBuffering" type="restrictedbool" minOccurs="0"/>
	 <xs:element name="ASRUseSafetyClearance" type="restrictedbool" minOccurs="0"/>
	 <xs:element name="ASRSafetyClearancePlane" type="xs:double" minOccurs="0"/>
	 
	 <xs:element name="AsrRetractParameters" type="AsrRetractParameters" minOccurs="1"/>
	 
	 <xs:element name="ASRLinearizationOverride" type="int" minOccurs="0" minInclusive="0" maxInclusive="2"/> <!-- 0 = Do not override; 1 = force off; 2 = force on -->
	 <xs:element name="ASRTriggerOnTCPM" type="restrictedbool" minOccurs="0" default="1"/>
	 <xs:element name="ASRTriggerOnTransformPlane" type="restrictedbool" minOccurs="0" default="1"/>
	 <xs:element name="ASRTriggerOnToolChange" type="restrictedbool" minOccurs="0" default="1"/>
	 <xs:element name="ASRTriggerOnRapid" type="restrictedbool" minOccurs="0" default="1"/>
	 <xs:element name="ASRDisableOnProgramEnd" type="restrictedbool" minOccurs="0" default="1"/>
	 <xs:element name="ASRDisableOnIntegratorMCode" type="restrictedbool" minOccurs="0" default="1"/>
	 <xs:element name="ASRTriggerOnNcMergeStart" type="restrictedbool" minOccurs="0" default="1"/>
	 <xs:element name="ASRDisableOnNcMergeEnd" type="restrictedbool" minOccurs="0" default="1"/>
	 
	</xs:any>
	 
  </xs:complexType>
  
  <xs:complexType name="AsrRetractParameters">
    <xs:sequence>
	  <xs:element name="UseRetractOverride" type="restrictedbool" minOccurs="0"/>
	  <xs:element name="RetractOverrideDistance" type="xs:double" minOccurs="0"/>
	  <xs:element name="UseRetractPlaneOverride" type="restrictedbool" minOccurs="0"/>
	  <xs:element name="RetractPlaneZ" type="xs:double" minOccurs="0"/>
	  <xs:element name="RetractPlaneW" type="xs:double" minOccurs="0"/>
	  <xs:element name="LinearizeRotaryMoves" type="restrictedbool" minOccurs="0"/>
	</xs:sequence>
  </xs:complexType>
  
 <!-- WORK OFFSET TABLE -->
  
  <xs:complexType name="WorkOffsets">
    <xs:sequence>
      <xs:element name="WorkOffsets.Table" type="WorkOffsetTable" minOccurs="1"/>
	</xs:sequence>
  </xs:complexType>
  
  <!-- Work Offset table contains exactly 100 entries.
       1st entry = G54 work offset, 2nd = G55, etc.
	   Final entry is a global incremental shift offset.
	-->
  <xs:complexType name="WorkOffsetTable">
    <xs:sequence>
	  <xs:element name="WorkOffsetEntry" type="WorkOffsetEntry" minOccurs="100" maxOccurs="100"/>
	</xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="WorkOffsetEntry">
    <xs:sequence>
	  <xs:element name="X" type="xs:double" minOccurs="0"/>  <!-- mm -->
	  <xs:element name="Y" type="xs:double" minOccurs="0"/>  <!-- mm -->
	  <xs:element name="Z" type="xs:double" minOccurs="0"/>  <!-- mm -->
	  
<!-- 
     IMPORTANT!!! The rotary axis configuration is only compatible with the Universal NC display type (default),
	 legacy rotary types (ex:  Rotary A Tilt B) are still available in the newest releases, but are obsolete
	 and support is likely to be discontinued in the relatively near future.
     Rotary 1 and Rotary2 represent the machine's rotary axes in alphabetical order, if available for that model.

     ex:  An SR machine model with a Tilt B axis and full rotary C axis stores
         the B axis data in <Rotary1> and the C axis data in <Rotary2>.
-->	 
	  
	  <xs:element name="Rotary1" type="xs:double" minOccurs="0"/>  <!-- degrees -->
	  <xs:element name="Rotary2" type="xs:double" minOccurs="0"/>  <!-- degrees -->  
	  
	  <xs:element name="U" type="xs:double" minOccurs="0"/>  <!-- mm -->
	  <xs:element name="V" type="xs:double" minOccurs="0"/>  <!-- mm -->
	  <xs:element name="W" type="xs:double" minOccurs="0"/>  <!-- mm -->
	  <xs:element name="Zone" type="xs:int" minOccurs="0" minInclusive="0" maxInclusive="2"/>    <!-- On multi-zone machines, 0 = current zone, 1 = zone 1, 2 = zone 2 -->
	  <xs:element name="Skew" type="xs:double" minOccurs="0" minExclusive="-6.283185" maxExclusive="6.283185"/> <!-- radians -->
	</xs:sequence>
  </xs:complexType>
  
  
<!-- TOOL OFFSET TABLES -->
  
   <xs:complexType name="ToolOffsets">
    <xs:sequence>
      <xs:element name="ToolOffsets.Tables" type="ToolOffsetTables" minOccurs="1"/>
	</xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ToolOffsetTables">
    <xs:sequence>
      <xs:element name="TooLengthOffsets" type="ToolLengthOffsets" minOccurs="1"/>
	  <xs:element name="ToolRadiusOffsets" type="ToolRadiusOffsets" minOccurs="1"/>
	  <xs:element name="ToolCornerRadiusOffsets" type="ToolCornerRadiusOffsets" minOccurs="1"/>
	</xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ToolLengthOffsets">
   <xs:sequence>
      <xs:element name="ToolLengthOffsets.Table" type="ToolOffsetTable" minOccurs="1"/>
	</xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ToolRadiusOffsets">
    <xs:sequence>
      <xs:element name="ToolRadiusOffsets.Table" type="ToolOffsetTable" minOccurs="1"/>
	</xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ToolCornerRadiusOffsets">
    <xs:sequence>
      <xs:element name="ToolCornerRadiusOffsets.Table" type="ToolOffsetTable" minOccurs="1"/>
	</xs:sequence>
  </xs:complexType>
  
<!-- Tool Offset tables contain exactly 200 entries in sequential order. -->
  <xs:complexType name="ToolOffsetTable">
    <xs:sequence>
	  <xs:element name="ToolOffsetEntry" type="ToolOffsetEntry" minOccurs="200" maxOccurs="200"/>
	</xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ToolOffsetEntry">
    <xs:sequence>
	  <xs:element name="Value" type="xs:double" minOccurs="0"/>
	  <xs:element name="IsProbed" type="restrictedbool" minOccurs="0"/>
	</xs:sequence>
  </xs:complexType>
  
 <!-- NC PROGRAM VARIABLES -->
  <xs:complexType name="NCProgramVariables">
    <xs:sequence>
	
<!-- 
      ### is a variable number between 500-999 inclusive, covering the range of global reusable variables 
      Entries can exist for each variable, but none are required.
-->
	  <xs:element name="NCVar###_type" type="xs:integer" minOccurs="0" default="2"/> <!-- 0 = data, 1 = invalid, 2 = vacant, 3 = null -->
	  <xs:element name="NCVar###_value" type="xs:double" minOccurs="0"/>
	</xs:sequence>
  </xs:complexType>

  <!-- NC VARIABLE MAPPINGS -->
  <xs:complexType name="NCVariableMappings">
    <!-- Supported only in version 10.02.79.11 or later. -->
    <xs:sequence minOccurs="0" maxOccurs="32" >
<!-- 
      #### is a variable number between 1000-1015 union 1100-1115 inclusive, covering the range of NC variables 
      reserved for mapping to machine IO. Entries not used are assumed by WinMax to be set to their default.
      The value of the Map####_Var element should be the same value used in the name ####.
-->
      <xs:element name="Map####_Var" type="xs:unsignedInt" minOccurs="0" minInclusive="1000" maxInclusive="1115"/>
<!-- 
      The four #### represent the same variable number from the previous element. The long value uses an
      internal reference SID that WinMax uses to determnine which machine IO point a variable is mapped to.
      SIDs cover a wide range and differ depending on the version of WinMax. Check the documentation for
      a list of machine IO SIDs for use with NC variable mappings on your machine.
-->
      <xs:element name="Map####_SID" type="xs:unsignedLong" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
 <!-- NC USER PREFERENCES -->
 
   <xs:complexType name="NCSettings">
    <xs:sequence>
	  <xs:element name="NcDisplayProgramType" type="xs:unsignedByte" minOccurs="0" minInclusive="0" maxInclusive="6" default="6"/> <!-- Universal is strongly recommended for all new projects. -->
	  <xs:element name="NcDialect" type="restrictedbool" minOccurs="0" default="1"/> <!-- 0= Basic (Hurco) NC; 1 = Industry Standard NC (requires software option) -->
	  <xs:element name="DPrintDevice" type="xs:unsignedByte" minOccurs="0" minInclusive="0" maxInclusive="5"/> <!-- 0 = Com 1; 1 = Com 2; 3 = LPT; 4 = File; 5 = Remote API -->
	  <xs:element name="DPrintFile" type="xs:string" minOccurs="0"/>
	  <xs:element name="EnableRemoteVariablePublishing" type="restrictedbool" minOccurs="0"/>
	  <xs:element name="PublishedVariableNumber" type="xs:unsignedByte" minOccurs="0" minInclusive="500" maxInclusive="999" default="500"/>
	  <xs:element name="VariableResetAtProgramStart" type="restrictedbool" minOccurs="0"/>
	  <xs:element name="VariableResetValue" type="xs:double" minOccurs="0"/>
	  <xs:element name="DisableToolLengthOffsetTable" type="restrictedbool" minOccurs="0"/>
	  <xs:element name="SaveNcStateWithProgram" type="restrictedbool" minOccurs="0"/>
	  <xs:element name="DisableNcEditorUndoAndRedo" type="restrictedbool" minOccurs="0"/>
	  <xs:element name="CutterCompWithToolSetupInISNC" type="restrictedbool" minOccurs="0"/>
	  <xs:element name="EnablePartSetupCenterline" type="restrictedbool" minOccurs="0"/>
	</xs:sequence>
  </xs:complexType>
  
 <!-- REUSABLE SIMPLE TYPES -->
  
  <!--bools in XML can be 0 or 1 /true false our system only uses 0 an 1
  so to be safe created a restricted type-->
  <xs:simpleType name="restrictedbool">
    <xs:restriction base="xs:short">
      <xs:pattern value="0|1"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Lower values favor cutting precision.  Higher values favor faster cutting. -->
  <xs:simpleType name="SurfaceFinishQuality">
    <xs:restriction base="xs:unsignedByte">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="100"/>
    </xs:restriction>
  </xs:simpleType>
  
</xs:schema>
