WinMaxDataServiceExample/Service References/NotificationService/05.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.hurco.com/2013/05" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NotificationService" targetNamespace="http://www.hurco.com/2013/05" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.hurco.com/2013/05/Imports">
      <xsd:import namespace="http://www.hurco.com/2013/05" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="WcfDataServices" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfDataServices" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INotificationService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="INotificationService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="INotificationService_Unsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_BeginSubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:BeginSubscribe" />
  </wsdl:message>
  <wsdl:message name="INotificationService_BeginSubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:BeginSubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_EndSubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:EndSubscribe" />
  </wsdl:message>
  <wsdl:message name="INotificationService_EndSubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:EndSubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetSID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSID" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetSID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSIDResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetDoubleSID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDoubleSID" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetDoubleSID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDoubleSIDResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetIntSID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIntSID" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetIntSID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIntSIDResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetBulk_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBulk" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetBulk_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBulkResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_Notify_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Notify" />
  </wsdl:message>
  <wsdl:portType name="INotificationService">
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://www.hurco.com/2013/05/INotificationService/Subscribe" message="tns:INotificationService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://www.hurco.com/2013/05/INotificationService/SubscribeResponse" message="tns:INotificationService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <wsdl:input wsaw:Action="http://www.hurco.com/2013/05/INotificationService/Unsubscribe" message="tns:INotificationService_Unsubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://www.hurco.com/2013/05/INotificationService/UnsubscribeResponse" message="tns:INotificationService_Unsubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BeginSubscribe">
      <wsdl:input wsaw:Action="http://www.hurco.com/2013/05/INotificationService/BeginSubscribe" message="tns:INotificationService_BeginSubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://www.hurco.com/2013/05/INotificationService/BeginSubscribeResponse" message="tns:INotificationService_BeginSubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EndSubscribe">
      <wsdl:input wsaw:Action="http://www.hurco.com/2013/05/INotificationService/EndSubscribe" message="tns:INotificationService_EndSubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://www.hurco.com/2013/05/INotificationService/EndSubscribeResponse" message="tns:INotificationService_EndSubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSID">
      <wsdl:input wsaw:Action="http://www.hurco.com/2013/05/INotificationService/GetSID" message="tns:INotificationService_GetSID_InputMessage" />
      <wsdl:output wsaw:Action="http://www.hurco.com/2013/05/INotificationService/GetSIDResponse" message="tns:INotificationService_GetSID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDoubleSID">
      <wsdl:input wsaw:Action="http://www.hurco.com/2013/05/INotificationService/GetDoubleSID" message="tns:INotificationService_GetDoubleSID_InputMessage" />
      <wsdl:output wsaw:Action="http://www.hurco.com/2013/05/INotificationService/GetDoubleSIDResponse" message="tns:INotificationService_GetDoubleSID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIntSID">
      <wsdl:input wsaw:Action="http://www.hurco.com/2013/05/INotificationService/GetIntSID" message="tns:INotificationService_GetIntSID_InputMessage" />
      <wsdl:output wsaw:Action="http://www.hurco.com/2013/05/INotificationService/GetIntSIDResponse" message="tns:INotificationService_GetIntSID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBulk">
      <wsdl:input wsaw:Action="http://www.hurco.com/2013/05/INotificationService/GetBulk" message="tns:INotificationService_GetBulk_InputMessage" />
      <wsdl:output wsaw:Action="http://www.hurco.com/2013/05/INotificationService/GetBulkResponse" message="tns:INotificationService_GetBulk_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Notify">
      <wsdl:output wsaw:Action="http://www.hurco.com/2013/05/INotificationService/Notify" message="tns:INotificationService_Notify_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="NotificationService">
    <wsdl:port name="NetTcpBinding_INotificationService" binding="i0:NetTcpBinding_INotificationService">
      <soap12:address location="net.tcp://localhost/NotificationService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost/NotificationService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>machine-connect.hurco.com</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>